*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
}
.container{
    font-family: "Hanken Grotesk";
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;

}
.your-result{
    width: 250px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: hsl(0, 0%, 100%);
    border-radius: 25px;
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));

}
.transparent {
    color:hsla(0, 0%, 100%, 0.597) ;
}
#of100{
    font-size:large;
}
#round-score{
 font-size: 3em;
 font-weight: 700; 
 background-color:hsla(241, 65%, 41%, 0.272) ;
 margin: 30px;
 padding: 20px;
 border-radius: 50%;
}
.summary{
    border-radius: 0 25px 25px  0;
    padding: 30px;
    box-shadow: 1px 0px 4px 0px rgb(169, 176, 181);
    width: 250px;
}

.card-summary p{
    display: flex;
    flex-direction: row-reverse;
    
}
.card-summary{
    align-items: baseline;

}
#button{
    padding: 20px;
    border-radius: 30px;
    
    color: hsl(0, 0%, 100%);;
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));

}